# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage
/cypress/.Trash-0

# production
/build
/dist

# misc
.idea

# yarn.lock
yarn.lock

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env.development
